app/public/wp-includes/
app/public/wp-admin/network/update-core.php
app/public/wp-admin/
app/public/license.txt
app/public/readme.html
app/public/.htaccess
conf/
app/sql/
logs/nginx/error.log
logs/php/error.log
app/public/xmlrpc.php
app/public/wp-config.php
app/public/wp-config-sample.php
app/public/wp-content/plugins/advanced-custom-fields/assets/
app/public/wp-content/plugins/advanced-custom-fields/
app/public/wp-content/uploads/
*.txt
app/public/wp-content/plugins/
